<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frxs.merchant.core.mapper.ProductAttrCateMapper">
  <resultMap id="BaseResultMap" type="com.frxs.merchant.common.dal.entity.ProductAttrCate">
    <id column="attrCateId" jdbcType="BIGINT" property="attrCateId" />
    <result column="attrId" jdbcType="BIGINT" property="attrId" />
    <result column="cateId" jdbcType="BIGINT" property="cateId" />
    <result column="createUserId" jdbcType="BIGINT" property="createUserId" />
    <result column="createUserName" jdbcType="VARCHAR" property="createUserName" />
    <result column="tmCreate" jdbcType="TIMESTAMP" property="tmCreate" />
    <result column="tmSmp" jdbcType="TIMESTAMP" property="tmSmp" />
  </resultMap>
  <sql id="Base_Column_List">
    attrCateId, attrId, cateId, createUserId, createUserName, tmCreate, tmSmp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_attr_cate
    where attrCateId = #{attrCateId,jdbcType=BIGINT}
  </select>
</mapper>