<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frxs.merchant.core.mapper.SeqVendorMapper">
  <select id="getNextSeqForVendor" resultType="java.lang.Long">
    select nextval for seq_vendor;
  </select>
</mapper>
